[submodule "poky"]
	path = poky
	url = https://github.com/diaspberry/poky.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/diaspberry/meta-raspberrypi.git
[submodule "meta-diaspberry"]
	path = meta-diaspberry
	url = git@github.com:diaspberry/meta-diaspberry.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
