sudo: true
dist: jessie
language: python
python:
  - "2.7.3"

env:
  matrix:
    - MACHINE=qemuarm
    - MACHINE=raspberrypi

install:
  - sudo apt-get install -y gawk wget git-core diffstat unzip texinfo gcc-multilib build-essential chrpath socat libsdl1.2-dev xterm sshpass

script:
  - git submodule update --recursive
  - sed -i "s#%WD%#${TRAVIS_BUILD_DIR}#g" etc/bblayers.conf
  - cd poky && source oe-init-build-env build
  - cp -r -v ${TRAVIS_BUILD_DIR}/etc/* conf/
  - cat conf/*.conf && bitbake --version
  - bitbake --quiet rpi-basic-image
